/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    width: 100vw;
    min-height: 100vh;
}

/* Header Styling */
.header {
    display: flex;
    align-items: center;
    color: #000000;
    padding: 10px;
    height: 20vh;
    & img {
        height: 100px;
        width: 100px;
        margin-left: 20px;
    }
}

.header-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    & h1 {
        font-size: 40px;
        font-weight: bold;
    }
}

main {
    border : 2px solid #000000;
}

.admit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 100%;
    & h2 {
        font-size: 30px;
        font-weight: bold;
    }
}

.admit-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 100%;
    margin-top: 20px;
}

.admit-info {
    display: flex;
    height: 20vh;
    width: 100%;
    & img {
        height: 150px;
        width: 130px;
        margin-left: auto;
        margin-right: 20px;
    }

}

.admit-head , .admit-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    & .head-info {
        font-weight: bold;
        font-size: larger;
    }
}

.subject-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    height: 40vh;
    width: 100%;
}

.admit-header {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
    width: 100%;
    align-items: center;
    height: 20vh;
    justify-items: center;
    font-weight: bold;
    font-size: larger;
}

.subject-details {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
    width: 100%;
    align-items: center;
    height: 20vh;
    justify-items: center;
    font-size: large;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: solid 2px #000000;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

@media print {
    .print-btn{
        display: none;
    }
} 