


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
    font-family: Arial, sans-serif;
    width: 100%;
    max-height: fit-content;
    padding: 5px;
}
header {
  display:flex ;
  align-items: center;
  padding: 15px;
  background-color: #5631bed8;
  border: 2px solid #000000;
  border-radius: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 30%;
  text-align: center;
  flex-direction: row;
}
h1{
  display: flex;
  width: 100%;
  justify-content: center; 
  margin-top: 20px;
}
.logo1{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#club{
  width: 80px;
   border-radius: 50%;
  border: 2px solid #000000;
  justify-content: left;
}
.dash{
  background-color: #ffffff;
  margin-right:20px ;
}
.dash a{
  /* margin-right: 50px; */
  text-decoration:none;
  color: #716565;
  background-color: #ffffff;
}
main{
  width:100%;
  height: 70%;
}
table {
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #e6c0c0;
  width: 100%;
}
 th, td {
  border: 1px solid #ddd;
  padding: 10px; 
  text-align: left;
}
th {
  background-color: #ede66a;
  text-align: center;
} 
tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
tr:last-child th:first-child {
  border-bottom-left-radius: 10px;
} 
tr:last-child th:last-child {
  border-bottom-right-radius: 10px;
}
.student-class{
  width: 100%;
}
button {
  padding: 10px 10px;
  background-color: #df1e1e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .header, table, table thead, table tbody, table th, table td, table tr {
      display: block;
      width: 100%;
  }

  .header {
        flex-direction: column;
        text-align: center;
  }

  table thead {
      display: none;
  }

  table tr {
      margin-bottom: 15px;
      border-bottom: 1px solid #ddd;
  }

  table td {
      display: flex;
      justify-content: space-between;
      padding: 8px 0;
      text-align: center;

  }
.td{
  text-align: center;
}
  table td::before {
      content: attr(data-label);
      font-weight: bold;
      color: #7b3f98;
      width: 100px;
      flex-shrink: 0;
  }
  .action-btn {
      margin-top: 10px;
  }
}