*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    & a{
        text-decoration: none;
        color: #ffffff;
    }
}
html,body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    width: 100vw;
    /* height: 100%; */
   
}
/* header  */
header {
    display:flex ;
    background-color: rgba(221, 174, 232, 0.847);
    width: 100%;
    height: 20%;
    flex-direction: space-around;
    padding: 20px;
    align-items: center;
    margin-bottom: 20px;
}
h1{
    display: flex;
    text-align: center;
    width: 90%;
    flex-direction: space-around;
    justify-content: center; 
 } 
.logo{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#College-Logo{
    height: 90px;
    width: 90px;
    padding: 3px;
    border-radius: 50%;
    border: 2px solid #000000;
    justify-content: left;
}
.logout-button {
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 10px 10px;
    height: fit-content;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;    
}
.Log-div .logout-button{
    align-items: center;
}

/* main */        
main{            
    width:100%;            
    height: 60%;           
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    background-image: linear-gradient(rgba(0,0,0,0.2) ,rgba(0,0,0,0.1)),url("https://as1.ftcdn.net/v2/jpg/05/70/95/12/1000_F_570951262_nOrXILzBkAaBx9HUs7pDYPnw3h3lDBvR.jpg");
    background-size: cover;
    background-repeat:  no-repeat ;
}
#maindiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;

}

/* sidebar */
.sidebar {
    width:15% ;
    /* background-color: #f4f4f4; */
    padding: 15px;              
    height: fit-content;
    border-radius: 10px;
    margin-top: 40PX;
    text-align: center;
}
.sidebar .profile {
    border-radius: 10px;
    text-align: center;
}
.profile{
    display: block;
    border: 2px solid #000000;
    border-radius: 10px; 
    padding: 2px;
    justify-content: center;
    /* margin: 20PX; */
}
.profile img{
    display:flex;
    height: fit-content;
    width: 50px;
    border-radius: 50%;
    margin: auto;       
}
.sidebar .profile .img{
    display: flex;
    justify-content: center;
}
h2{
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
    color: rgb(0, 0, 0);
}       
.btn{
    border-radius: 40px;
    border: 0;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2px 2px;
    white-space: nowrap;
    cursor: pointer;
    background-color: #cacad5;
    width: 40%;
}       
.btn--primary{
    background-color: rgb(147, 98, 233);
    color: #000000;
}        
.btn--primary:hover{
    background: #4400ff8d;
}
       
/* main-content */        
.main-content {
    padding: 20px;
    padding: none;
    border-radius: 20px;
    text-align: center;
    height: fit-content;
    width: 80%;
    margin-top: 40PX;
}
.courses{        
    display: flex;
    height: fit-content;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
 }
.courses button{
    display: flex;
    background-color: #232ded;
    border-radius: 10px;
    font-size: larger ;
    color: #ffffff;
    font-family: Arial Black;
    /* font-size: medium; */
    width: 30%;
    border: 4px solid black;
    padding: 20px;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 20px;        
}
.Courses-Button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    & button{
        width: 30%;
        cursor: pointer;
        & a{
            text-decoration: none;
            color: #ffffff;
        }
    }
}

/* popup  */
/* exam registration popup  */
#Reg-Popup{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(237, 237, 237, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.Reg-Enrol_popup{
    width: 55%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px ;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.Reg-Enrol_popup #close-regpopup{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: large;
    font-weight: bold;
    color: #0a0a0a;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.Reg-Enrol_popup #close-regpopup:hover{
    color: #e31616;
}
.table {
    margin-top: 10px;
    border: 2px solid #161414;
    width: 100%;
    border-collapse: collapse;
}
.table th, .table td {
    border: 1px solid #b9aeae;
    padding: 8px;
    text-align: center;
}
.table th {
    background: #f2f2f2;
}
.start-btn {
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}
.start-btn:hover {
    background: #45a049;
}
.stop-btn {
    background: #e83838;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}
.stop-btn:hover {
    background: #ff1616;
}

/* add HOD  */
#hod-popup{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(237, 237, 237, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.hod-request{
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px 5px 10px 5px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.hod-request #close-hod{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #0a0a0a;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.hod-request #close-hod:hover{
    color: #e31616;
}
.table {
    margin-top: 10px;
    border: 2px solid #161414;
    width: 100%;
    border-collapse: collapse;
}
.table th, .table td {
    border: 1px solid #b9aeae;
    padding: 8px;
    text-align: center;
}
.table th {
    background: #f2f2f2;
}
.approve-btn {
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}
.approve-btn:hover {
    background: #45a049;
}


/* add notice  */

#Add-Notice{    
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(237, 237, 237, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Add_noticepop{
    width: 40%;
    height: fit-content ;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column; 
    position: relative;
    font-size: larger;
    padding: 10px 5px 10px 5px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center ;

    & form{
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        & #Upload{
            cursor: pointer;
            font-size: medium;
            display: flex;
            /* margin-left: 60px; */
            color: #ffffff;
            background-color: #4CAF50;
            /* border: none; */
            border-radius: 4px;
            padding: 5px 10px;
            justify-content: center;
            align-items: center;

        }
    }
}
.Add_noticepop #close-addpopup{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: larger;
    font-weight: bold;
    color: #0a0a0a;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
#Upload:hover {
    background: #828582;
  }
#upload-btn{
    cursor: pointer;
    font-size: medium;
    display: flex;
    color: #ffffff;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}
#close-addpopup:hover{
    color: #e31616;
}

/* view result  */

#Result{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(237, 237, 237, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Res_popup{
    width: 40%;
    height: fit-content ;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column; 
    position: relative;
    font-size: larger;
    padding: 10px 5px 10px 5px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center ;

    & form{
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        & #viewbtn{
            cursor: pointer;
            font-size: medium;
            display: flex;
            /* margin-left: 60px; */
            color: #ffffff;
            background-color: #4CAF50;
            /* border: none; */
            border-radius: 4px;
            padding: 5px 10px;
            justify-content: center;
            align-items: center;

        }
    }
}
.Res_popup #close-respopup{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: larger;
    font-weight: bold;
    color: #0a0a0a;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
#viewbtn:hover {
    background: #828582;
  }
#submitbtn{
    cursor: pointer;
    font-size: medium;
    display: flex;
    color: #ffffff;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}
#close-respopup:hover{
    color: #e31616;
}

/* add faculty  */
#faculty-popup{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(237, 237, 237, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.faculty-request{
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px 5px 10px 5px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.faculty-request #close-faculty{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #0a0a0a;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.faculty-request #close-faculty:hover{
    color: #e31616;
}
.table {
    margin-top: 10px;
    border: 2px solid #161414;
    width: 100%;
    border-collapse: collapse;
}
.table th, .table td {
    border: 1px solid #b9aeae;
    padding: 8px;
    text-align: center;
}
.table th {
    background: #f2f2f2;
}
.approve-btn {
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}
.approve-btn:hover {
    background: #45a049;
}

 /* view profile  */
 #profilePopup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
}
#profilePopup-content {
        background: #ffffff;
        padding: 40px;
        border-radius: 8px;
        width: fit-content;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        text-align: center;
        position: relative;
       
} 
#profile-table {
    margin-top: 10px;
    border: 2px solid #161414;
    width: 100%;
    border-collapse: collapse;
}
#profile-table th, #profile-table td {
    border: 1px solid #b9aeae;
    padding: 8px;
    text-align: center;
}
#profile-table th {
    background: #f2f2f2;
}
#closeProfilePopup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}  
#closeProfilePopup:hover {
    color: #000;
}
.close1{
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.close1:hover {
    color: #000;
}
p{
    font-size: larger;
} 
/* current course  */
#CoursePopup{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
}
#CoursePopup-content{
    background: #ffffff;
    padding: 40px;
    border-radius: 8px;
    width: 50%;
    /* max-width: 400px; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    display: table-row-group;
}
#CoursePopup  .button {
    display: flex;
    background-color: #7f7df4;
    border-radius: 10px;
    font-size: large ;
    color: #000000;
    width: 30%;
    border: 5px solid black;
    padding: 20px;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 20px;
   align-items: center;
}
.Courses-Button1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
#CoursePopup-content button{
    display: flex;
    position: relative;
    background-color: #9a98f9;
    border-radius: 10px;
    font-size: large ;
    color: #000000;
    font-family: Arial black;
    font-size: medium;
    width: 30%;
    border: 2px solid black;
    padding: 20px;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 20px;        
}
#closecoursePopup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;

    & .close2{
        display: flex;
        justify-content: center;
        /* border: 2px solid black; */
        /* border-radius: 8px; */
        width: 30px;
        cursor: pointer;
        font-size: larger;
        position: relative;
    }  
        
}  
.close2{
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.close2:hover {
    color: #000000;
}

/* add student  */
#admission-popup{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(237, 237, 237, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.admission-request{
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px 5px 10px 5px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.admission-request #close-addmission{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #0a0a0a;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.admission-request #close-addmission:hover{
    color: #e31616;
}
.table {
    margin-top: 10px;
    border: 2px solid #161414;
    width: 100%;
    border-collapse: collapse;
}
.table th, .table td {
    border: 1px solid #b9aeae;
    padding: 8px;
    text-align: center;
}
.table th {
    background: #f2f2f2;
}
.approve-btn {
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}
.approve-btn:hover {
    background: #45a049;
}
/* footer */
footer {
    display:flex ;
    background-color: #232ded;
    width: 100%;
    height: 10%;
    flex-direction: space-around;
    padding: 20px;
    align-items: center;
    position: absolute;
    bottom: 0;
  /* margin-top: auto; */
    justify-content: center;

    & p{ display: flex;
        text-align: center;
        margin-top: 10px;   
        justify-content: center;
    }
}

/* mobile screen */
@media screen and (max-width: 600px) {
    /* General styles */
    html, body {
        font-size: 14px;
    }

    /* Header */
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    h1 {
        font-size: 1.2rem;
        width: 100%;
    }

    .logo {
        width: 50px;
    }

    #College-Logo {
        height: 50px;
        width: 50px;
    }

    .logout-button {
        padding: 5px 10px;
        font-size: 0.9rem;
    }

    /* Sidebar */
    .sidebar {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        border-radius: 5px;
    }

    .profile img {
        height: 40px;
        width: 40px;
    }

    .btn {
        width: 80%;
        padding: 5px;
        font-size: 0.8rem;
    }

    /* Main Content */
    .main-content {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
    }

    .courses {
        flex-direction: column;
        gap: 15px;
    }

    .courses button {
        width: 45%;
        /* padding: 15px; */
        /* font-size: 1rem; */
        font-size: small;
    }

    /* Footer */
    footer {
        font-size: 0.9rem;
        margin-top: 20px;
    }

    /* Popups */
    #profilePopup-content, #CoursePopup-content {
        width: 80%;
        padding: 20px;
    }

    #closeProfilePopup, #closecoursePopup {
        font-size: medium;
    }
}