/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    width: 100vw;
    min-height: 100vh;
}

/* Header Styling */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9f39e3;
    color: #ffffff;
    padding: 10px;
    height: 15vh;
}

.header-center {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
}

.header-button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: right;
    height: 100%;
    width: 20%;
    padding-right: 1%;
}

/* All the buttons styling */

button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 5px;
    width: 100px;
    height: 50px;
    font-weight: bold;
}

.dashboard-btn , .upload-btn {
    background-color: #ffffff;
    color: #0000ff;
}

.dashboard-btn:hover , .upload-btn:hover {  
    background-color: #0000ff;
    color: #ffffff;
}

.logout-btn{
    background-color: #ffffff;
    color: #ff0000;
}

.logout-btn:hover {
    background-color: #ff0000;
    color: #ffffff;
}

/* main Styling */

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.student-list {
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 70%;
    height: 100%;
    overflow-y: scroll;
    cursor: text;
}

.table-header {
    display: grid;
    grid-template-columns: 150px repeat(auto-fit, minmax(150px, 1fr));
    width: 100%;
    height: 80px;
    font-weight: bold;
    font-size: larger;
    & .cell {
        background-color: #4ddaf9;
    }

}

.table-content {
    display: grid;
    grid-template-columns: 150px repeat(auto-fit, minmax(150px, 1fr));
    width: 100%;
    height: 60px;
    background-color: #f1f1f1;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-wrap: wrap;
    text-align: center;
    padding: 5px;
    max-width: 100%;
    min-height: fit-content;
    word-wrap: break-word;
    color: #333;
}

.first {
    border-radius: 20px 0 0 0;
}

.last { 
    border-radius: 0 20px 0 0;
}

.container{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.head {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 80%;
}

.subhead{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.info{
    display: flex;
    flex-direction: column;
    
}

h1{
    margin-bottom: 20px;
    padding: 10px;
}

#subject-code , #semester , #exam{
    height: 5vh;
    width: 20vw;
    border-radius: 10px;
    border: 3px solid #000000;
}

#marks{
    height: 5vh;
    width: 12vw;
    border-radius: 10px;
}