@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 html,body{
    margin: 0;
    background-color: rgba(226, 217, 217, 0.858);
    max-width: 100vw;
    min-height:fit-content;
}
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004085;
    padding: 20px 30px 20px 30px;
    color: white;
  }
  
  header h1 {
    margin: 0;
  }
  
  header div button {
    background-color: #fff;
    color: #004085;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  header div button:hover {
    background-color: #004085;
    color: white;
    border:1px solid white;
  }
  
  header div button a {
    text-decoration: none;
    color: inherit;
  }
  
  table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2.5px 4px rgba(0, 0, 0, 0.2);
  }
  
  table th, table td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
  }
  
  table th {
    background-color: rgb(241, 241, 241);
    font-weight: bold;
  }
  
  table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  table tr:hover {
    background-color: rgba(241, 241, 241, 0.74);
  }
  
  a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
  }
  input{
    border: none;
  }